button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    margin-top: 25px;
    cursor: pointer;
    background-color: #F2F2F2;
    color: #261D12;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}